<mat-card *ngIf="weatherData && currentLocation">
  <mat-card-header>
    <mat-card-title>{{ getLocation() }} {{ getWeatherIcon(weatherData!.weathercode) }}</mat-card-title>
    <mat-card-subtitle>{{ weatherData!.temperature }}°C</mat-card-subtitle>
  </mat-card-header>

  <hr>
  <mat-card-content>
    <div class="weather-info">
      <div class="info-item">
        <strong>Condition:</strong> {{ getWeatherDescription(weatherData!.weathercode) }}
      </div>
      <div class="info-item">
        <strong>Humidity:</strong> {{ weatherData!.humidity }}%
      </div>
      <div class="info-item">
        <strong>Wind Speed:</strong> {{ weatherData!.windspeed }} km/h
      </div>
    </div>
  </mat-card-content>
</mat-card>
